//
// Global
//

html, body {
    width:100%;
    overflow-x:hidden;
}

html {
    @media (max-width: 991px) {
        font-size: 87.5%;
    }
    @media (max-width: 767px) {
        font-size: 80%;
    }
    @media (max-width: 576px) {
        font-size: 75%;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    height: 100vh;
}

.site {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-wrapper, #archive-wrapper, .page-main, .archive-main, .single-main {
    flex: 1;
}

.container-fluid, .navbar-expand-md>.container-fluid {
    max-width: 1140px;
    padding-right: 30px;
    padding-left: 30px;
    @media (max-width: 500px) {
        padding-right: 0;
        padding-left: 0;
    }
}

.navbar-expand-md>.container-fluid {
    @media (max-width: 500px) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

//
// Type
//

h1, .h1 {
    font-size: 3.75rem;
    line-height: 1.5;
    font-style: italic;
    letter-spacing: -2px;
    @media (max-width: 500px) {
        font-size: 3rem;
    }
}

h2, .h2 {
  margin-bottom: 1rem;
  line-height: 1.3;
}

h2 a, .h2 a {
    color: $gray-900;
}

h2 a:hover, .h2 a:hover {
    color: $gray-900;
    text-decoration: none;
}

h3{
    font-size: 4.6875rem;
    font-style: italic;
    padding-bottom: 30px;
}

p {
    letter-spacing: 0.3px;
    font-size: 1rem;
}

a {
    opacity: 1;
    transition: opacity 300ms;
}

a:hover {
    opacity: 0.8;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}

blockquote p {
    font-size: 3.75rem;
    font-style: italic;
    font-family: $headings-font-family;
    letter-spacing: -2px;
    @media (max-width: 500px) {
        font-size: 2.5rem;
    }
}

code {
    word-break: break-all;
}

//
// Navigation Bar
//

.navbar {
    padding: 0.5rem 0;
}

.navbar-expand-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.nav-link {
    text-transform: uppercase;
    line-height: 15px;
    font-size: 14px;
    padding-bottom: 0.5625rem;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    color: $gray-900;
}

.menu-item:last-child .nav-link {
    padding-right: 0;
}

.menu-item:first-child .nav-link {
    padding-left: 0;
}

.navbar-toggler {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
    width: auto;
    height: auto;
}

.fa-bars {
    font-size: 20px;
}

#social-menu.navbar-nav {
    flex-direction: row;
}

#social-menu .nav-link {
    padding-bottom: 0.5rem;
}

.fa-twitter {
    font-size: 21px;
    line-height: 16px;
    @media (max-width: 500px) {
        font-size: 16px;
    }
}

.fa-envelope {
    font-size: 19px;
    line-height: 16px;
    @media (max-width: 500px) {
        font-size: 15px;
    }
}

//
// Logo
//

.logo-container {
    width: 225px;
    @media(max-width: 991px) {
        width: 180px;
    }
    @media (max-width: 767px) {
        width: 100%;
        padding-bottom: 30px;
        text-align: center;
    }
}

.logo-container svg {
    width: 100%;
    @media (max-width: 767px) {
        width: 130px;
    }
}

.logo-container a, .logo-container a:hover, .logo-container a:active, .logo-container a:visited, .logo-container a:focus {
    text-decoration: none;
}

//
// Footer
//

#wrapper-footer-full {
    background: $gray-800;
    color: $gray-200;
    text-align: center;
    padding: 0;
}

#wrapper-footer-full p {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 1rem;
}

#wrapper-footer-full a {
    transition: none;
    color: $secondary;
}

#wrapper-footer-full a:hover {
    text-decoration: underline;
    opacity: 1;
}

//
// Lists of posts
//

.archive-content {
    display: flex;
    flex-wrap: wrap;
}

.archive-content article {
    flex: 0 0 50%;
    padding-bottom: calc(40px - 1rem);
    @media (max-width: 991px) {
        flex: 0 0 100%;
    }
}

.archive-content article:nth-child(odd) {
    padding-right: 15px;
     @media (max-width: 991px) {
        padding-right: 0;
    }
}

.archive-content article:nth-child(even) {
    padding-left: 15px;
    @media (max-width: 991px) {
        padding-left: 0;
    }
}

// Featured image

.archive-content article img {
    object-fit: cover;
    width: 100%;
}

.archive-content .blog-thumb-container {
    display: flex;
    height: 40vh;
    margin-bottom: 1rem;
}

// Read more link

.btn-secondary {
    background: none;
    border: none;
    border-radius: 0;
    color: $secondary;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.09px;
    padding: 0;
    transition: none;
}

.btn-secondary:hover {
    background: none;
    border: none;
    color: $secondary;
}

// Tags

.tags-links {
    padding: 0;
}

.tags-links a {
    display: inline-block;
    color: $white;
    background-color: $secondary;
    padding: 3px 6px;
    font-size: 0.875rem;
    letter-spacing: 0.09px;
    margin-right: 5px;
    margin-bottom: 1rem;
    text-transform: lowercase;
}

.tags-links a:hover {
    text-decoration: none;
}

.entry-header, .entry-content, .entry-footer {
    @media (max-width: 500px) {
        padding: 0 15px;
    }
}

//
// Forms
//

.wpforms-field-container {
    display: flex;
    flex-wrap: wrap;
}

div.wpforms-container-full {
    margin-bottom: 0;
    background-color: $lightgray;
    padding: 30px;
    @media (max-width: 500px) {
        padding: 0 15px;
        background: none;
    }
}

div.wpforms-container-full .wpforms-form .wpforms-field {
    flex: 1 1 calc(50% - 15px);
    &:first-child {
        margin-right: 30px;
    }
    @media (max-width: 991px) {
        flex: 0 0 100%;
        &:first-child {
            margin-right: 0;
        }
    }
}

.wpforms-required-label {
    display: none;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
    font-weight: 300;
    font-size: 1rem;
}

div.wpforms-container-full .wpforms-form input[type=date], div.wpforms-container-full .wpforms-form input[type=datetime], div.wpforms-container-full .wpforms-form input[type=datetime-local], div.wpforms-container-full .wpforms-form input[type=email], div.wpforms-container-full .wpforms-form input[type=month], div.wpforms-container-full .wpforms-form input[type=number], div.wpforms-container-full .wpforms-form input[type=password], div.wpforms-container-full .wpforms-form input[type=range], div.wpforms-container-full .wpforms-form input[type=search], div.wpforms-container-full .wpforms-form input[type=tel], div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=time], div.wpforms-container-full .wpforms-form input[type=url], div.wpforms-container-full .wpforms-form input[type=week], div.wpforms-container-full .wpforms-form select, div.wpforms-container-full .wpforms-form textarea, div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button {
    border: 1px solid $gray-800;
    max-width: none;
    background: $lightgray;
}

div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button {
    font-size: 1rem;
}

div.wpforms-container-full .wpforms-form input[type=date]:focus, div.wpforms-container-full .wpforms-form input[type=datetime]:focus, div.wpforms-container-full .wpforms-form input[type=datetime-local]:focus, div.wpforms-container-full .wpforms-form input[type=email]:focus, div.wpforms-container-full .wpforms-form input[type=month]:focus, div.wpforms-container-full .wpforms-form input[type=number]:focus, div.wpforms-container-full .wpforms-form input[type=password], div.wpforms-container-full .wpforms-form input[type=range]:focus, div.wpforms-container-full .wpforms-form input[type=search]:focus, div.wpforms-container-full .wpforms-form input[type=tel]:focus, div.wpforms-container-full .wpforms-form input[type=text]:focus, div.wpforms-container-full .wpforms-form input[type=time]:focus, div.wpforms-container-full .wpforms-form input[type=url]:focus, div.wpforms-container-full .wpforms-form input[type=week]:focus, div.wpforms-container-full .wpforms-form select, div.wpforms-container-full .wpforms-form textarea, div.wpforms-container-full .wpforms-form input[type=submit]:focus, div.wpforms-container-full .wpforms-form button[type=submit]:focus, div.wpforms-container-full .wpforms-form input:focus, div.wpforms-container-full .wpforms-form textarea:focus, div.wpforms-container-full .wpforms-form select:focus {
    border: 1px solid $gray-800;
}

div.wpforms-container-full .wpforms-form input[type=submit]:hover, div.wpforms-container-full .wpforms-form button[type=submit]:hover, div.wpforms-container-full .wpforms-form .wpforms-page-button:hover {
    border: 1px solid $gray-800;
    background: $secondary;
}

div.wpforms-container-full .wpforms-form label.wpforms-error {
    color: $secondary;
    margin-top: 3px;
}

div.wpforms-container-full .wpforms-form .wpforms-field input.wpforms-error, div.wpforms-container-full .wpforms-form .wpforms-field input.user-invalid, div.wpforms-container-full .wpforms-form .wpforms-field textarea.wpforms-error, div.wpforms-container-full .wpforms-form .wpforms-field textarea.user-invalid, div.wpforms-container-full .wpforms-form .wpforms-field select.wpforms-error, div.wpforms-container-full .wpforms-form .wpforms-field select.user-invalid {
    border: 1px solid $secondary;
}

div.wpforms-container-full .wpforms-form input[type=date], div.wpforms-container-full .wpforms-form input[type=datetime], div.wpforms-container-full .wpforms-form input[type=datetime-local], div.wpforms-container-full .wpforms-form input[type=email], div.wpforms-container-full .wpforms-form input[type=month], div.wpforms-container-full .wpforms-form input[type=number], div.wpforms-container-full .wpforms-form input[type=password], div.wpforms-container-full .wpforms-form input[type=range], div.wpforms-container-full .wpforms-form input[type=search], div.wpforms-container-full .wpforms-form input[type=tel], div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=time], div.wpforms-container-full .wpforms-form input[type=url], div.wpforms-container-full .wpforms-form input[type=week], div.wpforms-container-full .wpforms-form select, div.wpforms-container-full .wpforms-form textarea {
    font-size: 1rem;
}

//
// Home page
//

// More headings

.more {
    font-family: $headings-font-family;
    font-size: 3.125rem;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 5px;
    @media (max-width: 767px) {
        text-align: center;
        margin: auto;
    }
}

.more a {
    color: $gray-900;
}

.more a:hover {
    text-decoration: none;
}

// Recent work

.home-work {
    background: $primary;
}

.home-work .content-area {
    padding: 5px 0 0 0;
}

.home-work h3 {
    @media (max-width: 500px) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.archive-work article {
    display: flex;
    padding: 0 0 40px 0;
    @media (max-width: 767px) {
        flex-direction: column-reverse;
        padding: 0 0 30px 0;
    }
}

.archive-work .work-info {
    flex: 0 0 30%;
    padding-right: 30px;
    @media (max-width: 991px) {
        flex: 0 0 40%;
    }
    @media (max-width: 767px) {
        flex: 0 0 100%;
        display: flex;
        padding-right: 0;
    }
    @media (max-width: 500px) {
        flex-direction: column;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.archive-work .entry-header {
    @media (max-width: 767px) {
        flex: 0 0 50%;
        text-align: right;
        padding-right: 15px;
    }
    @media (max-width: 500px) {
        text-align: left;
        padding: 0;
    }
}

.archive-work .entry-content {
    @media (max-width: 767px) {
        flex: 0 0 50%;
        padding-left: 15px;
    }
    @media (max-width: 500px) {
        padding-left: 0;
    }
}

.archive-work .blog-thumb-container {
    width: 100%;
    @media (max-width: 767px) {
        padding-bottom: 20px;
    }
}

.archive-work article img {
    width: 100%;
    max-width: 100%;
}

.archive-work .more {
    margin-top: -10px;
}

// About

.home-about h3 {
    text-align: center;
}

.home-about figcaption, .home-about p {
    @media (max-width: 500px) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.home-about p:last-child {
    margin-bottom: 0;
}

//
// Pages
//

.page .logo-container, .archive .logo-container {
    @media (max-width: 767px) {
        padding-bottom: 0;
    }
}

.page-title h1, .archive-title h1 {
    text-transform: lowercase;
    font-size: 3.25rem;
    text-align: right;
    @media (max-width: 767px) {
        text-align: left;
    }
    @media (max-width: 500px) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.page .wp-block-image:first-child img {
    width: 100%;
}

.page-content figcaption, .page-content p {
    @media (max-width: 500px) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.page-content p:last-child {
    margin-bottom: 0;
}

//
// Work Category
//

body.category-work article {
    flex-direction: column-reverse;
    padding: 0;
    margin-bottom: 30px;
    background: $lightgray;
    border: 1px solid $gray-400;
    &:last-child {
        margin-bottom: 0;
    }
}

body.category-work .work-info {
    flex: 0 0 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

body.category-work .entry-header {
    flex: 0 0 50%;
    text-align: right;
    padding-right: 15px;
}

body.category-work .entry-content {
    flex: 0 0 50%;
    padding-left: 15px;
}

body.category-work .blog-thumb-container {
    padding-bottom: 0;
    position: relative;
    margin-bottom: 20px;
}

//
// Pagination
//

.archive .site-main nav {
    margin: -10px auto 0;
}

.pagination {
    margin-bottom: 0;
}

.page-link {
    color: $black;
    border-color: $black;
}

.page-link:hover {
    color: $black;
    border-color: $black;
    background-color: $secondary;
}

.page-item:last-child .page-link, .page-item:first-child .page-link {
    border-radius: 0;
    border: 0;
    border-left: 1px solid $black;
}

.page-item:first-child .page-link {
    border: 0;
}

.page-item:last-child .page-link:hover, .page-item:first-child .page-link:hover {
    background: none;
    color: $secondary;
}

.page-item.active .page-link {
    color: $black;
    background: none;
    font-weight: 600;
    border-radius: 0;
    border-color: $black;
    cursor: default;
}

.page-item.active .page-link:hover {
    color: $black;
}

//
// Single post page
//

.single .wp-post-image {
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
}
