//
// Global
//

body {
    -webkit-font-smoothing: antialiased;
}

.container-fluid {
    max-width: 1140px;
}

//
// Type
//

h2, .h2 {
  margin-bottom: 18px;
  line-height: 1.3;
}

h2 a, .h2 a {
    color: $gray-900;
}

h2 a:hover, .h2 a:hover {
    color: $gray-900;
    text-decoration: none;
}

p {
    letter-spacing: 0.3px;
    font-size: 1.125rem;
}

a {
    opacity: 1;
    transition: opacity 300ms;
}

a:hover {
    opacity: 0.8;
}

//
// Navigation Bar
//

.navbar {
    padding: 0;
}

.nav-link {
    text-transform: uppercase;
    line-height: 15px;
    padding-bottom: 0.5625rem;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    color: $gray-900;
}

#social-menu .nav-link {
    padding-bottom: 0.5rem;
}

.menu-item:last-child .nav-link {
    padding-right: 0;
}

.menu-item:first-child .nav-link {
    padding-left: 0;
}

.fa-twitter {
    font-size: 21px;
    line-height: 16px;
}

.fa-envelope {
    font-size: 19px;
    line-height: 16px;
}

// Mobile

#social-menu.navbar-nav {
    flex-direction: row;
}

.navbar-expand-md>.container, .navbar-expand-md>.container-fluid {
    @media (max-width: 767.98px) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.navbar-toggler {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
    width: auto;
    height: auto;
}

.fa-bars {
    font-size: 20px;
}

#main-menu.navbar-nav .nav-link {
    @media (max-width: 767.98px) {
        text-align: center;
        padding: 10px 0;
    }
}

#navbarNavDropdown.show {
    padding-bottom: 33px;
}

//
// Logo
//

.logo-container {
    padding-right: 15px;
    padding-left: 15px;
}

.logo-container svg {
    width: 100%;
}

//
// Home Page
//

// Recent blog posts

.front-blog {
    display: flex;
}

.front-blog article {
    flex: 0 0 50%;
}

.front-blog article:nth-child(odd) {
    padding-right: 15px;
}

.front-blog article:nth-child(even) {
    padding-left: 15px;
}

// Recent blog post featured image

.front-blog article img {
    object-fit: cover;
}

.blog-thumb-container {
    display: flex;
    height: 40vh;
    margin-bottom: 18px;
}

// Read more link

.btn-secondary {
    background: none;
    border: none;
    color: $secondary;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: 0.09px;
    padding: 0;
    transition: none;
}

.btn-secondary:hover {
    background: none;
    border: none;
    color: $secondary;
}

// Recent blog post tags

.tags-links {
    padding: 0;
}

.tags-links a {
    display: inline-block;
    color: $white;
    background-color: $secondary;
    padding: 5px 10px;
    font-size: 1rem;
    letter-spacing: 0.09px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 600;
}

.tags-links a:hover {
    text-decoration: none;
}

.front-blog .entry-content {
    padding: 0 0 15px 0;
}

.front-blog .entry-footer {
    padding: 0 0 20px 0;
}

// Read/view more links

.front-more {
    font-family: $headings-font-family;
    font-size: 3.125rem;
    font-weight: 700;
    font-style: italic;
}

.front-more a {
    color: $gray-900;
}

.front-more a:hover {
    text-decoration: none;
}
