//
// Global
//

html {
    scroll-behavior: smooth;
    @media (max-width: 991px) {
        font-size: 87.5%;
    }
    @media (max-width: 767px) {
        font-size: 80%;
    }
    @media (max-width: 576px) {
        font-size: 75%;
    }
}

body {
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    padding: 30px 0;
}

#index-wrapper {
    padding-bottom: 0;
}

.col-md {
    padding: 0;
}

//
// Type
//

h2, .h2 {
  margin-bottom: 18px;
  line-height: 1.3;
}

h2 a, .h2 a {
    color: $gray-900;
}

h2 a:hover, .h2 a:hover {
    color: $gray-900;
    text-decoration: none;
}

h3{
    font-size: 4.6875rem;
    font-style: italic;
    padding-bottom: 30px;
}

p {
    letter-spacing: 0.3px;
    font-size: 1.125rem;
}

a {
    opacity: 1;
    transition: opacity 300ms;
}

a:hover {
    opacity: 0.8;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}

blockquote p {
    font-size: 3.75rem;
    font-style: italic;
    font-family: $headings-font-family;
    letter-spacing: -2px;
    @media (max-width: 500px) {
        font-size: 2.5rem;
    }
}

//
// Navigation Bar
//

.navbar {
    @media (max-width: 400px) {
        padding: 0.5rem 0;
    }
}

.nav-link {
    text-transform: uppercase;
    line-height: 15px;
    padding-bottom: 0.5625rem;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    color: $gray-900;
}

.navbar-expand-md>.container-fluid {
    max-width: 1110px;
    margin: auto;
    @media (max-width: 767.98px) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.menu-item:last-child .nav-link {
    padding-right: 0;
}

.menu-item:first-child .nav-link {
    padding-left: 0;
}

.navbar-toggler {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
    width: auto;
    height: auto;
}

.fa-bars {
    font-size: 20px;
}

#main-menu.navbar-nav .nav-link {
    @media (max-width: 767.98px) {
        text-align: center;
        padding: 10px 0;
    }
}

#navbarNavDropdown.show {
    padding-bottom: 33px;
}

#social-menu.navbar-nav {
    flex-direction: row;
}

#social-menu .nav-link {
    padding-bottom: 0.5rem;
}

.fa-twitter {
    font-size: 21px;
    line-height: 16px;
}

.fa-envelope {
    font-size: 19px;
    line-height: 16px;
}

//
// Logo
//

.logo-container {
    padding: 0 30px;
    width: 255px;
    float: left;
    @media(max-width: 991px) {
        width: 210px;
    }
    @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        padding: 0 0 30px 0;
        float: none;
    }
}

.logo-container svg {
    width: 100%;
    @media (max-width: 767px) {
        width: 100px;
    }
}

//
// Home Page
//

// Container for logo and adjacent content

.top {
    max-width: 1140px;
    margin: auto;
}

// Recent blog posts

.front-blog {
    display: flex;
    flex-wrap: wrap;
    padding-right: 30px;
    @media (max-width: 991px) {
        flex-direction: column;
    }
    @media (max-width: 767px) {
        padding-left: 30px;
    }
    @media (max-width: 400px) {
        padding: 0;
    }
}

.front-blog article {
    flex: 0 0 50%;
    @media (max-width: 991px) {
        flex: 0 0 100%;
    }
}

.front-blog article:nth-child(odd) {
    padding-right: 15px;
     @media (max-width: 991px) {
        padding-right: 0;
        padding-bottom: 10px;
    }
}

.front-blog article:nth-child(even) {
    padding-left: 15px;
    @media (max-width: 991px) {
        padding-left: 0;
    }
}

// Recent blog post featured image

.front-blog article img {
    object-fit: cover;
    width: 100%;
}

.front-blog .blog-thumb-container {
    display: flex;
    height: 40vh;
    margin-bottom: 18px;
}

// Read more link

.btn-secondary {
    background: none;
    border: none;
    border-radius: 0;
    color: $secondary;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: 0.09px;
    padding: 0;
    transition: none;
}

.btn-secondary:hover {
    background: none;
    border: none;
    color: $secondary;
}

// Recent blog post tags

.tags-links {
    padding: 0;
}

.tags-links a {
    display: inline-block;
    color: $white;
    background-color: $secondary;
    padding: 5px 10px;
    font-size: 1rem;
    letter-spacing: 0.09px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 600;
}

.tags-links a:hover {
    text-decoration: none;
}

.front-blog .entry-content {
    padding: 0 0 15px 0;
    @media (max-width: 991px) {
        padding: 0;
    }
}

.front-blog .entry-header, .front-blog .entry-content {
    @media (max-width: 400px) {
        padding: 0 15px;
    }
}

.front-blog .entry-footer {
    padding: 0 0 20px 0;
    @media (max-width: 400px) {
        padding: 0 15px 20px 15px;
    }
}

// Read/view more links

.front-more {
    font-family: $headings-font-family;
    font-size: 3.125rem;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 35px;
    @media (max-width: 767px) {
        text-align: center;
    }
}

.front-more a {
    color: $gray-900;
}

.front-more a:hover {
    text-decoration: none;
}

// Recent work

.front-work {
    background: $primary;
    padding: 35px 30px 0 30px;
    @media (max-width: 400px) {
        padding: 25px 0 0 0;
    }
}

.front-work-content {
    max-width: 1140px;
    margin: auto;
}

.front-work h3, .front-work .work-info {
    @media (max-width: 400px) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.front-work article {
    display: flex;
    padding: 0 0 40px 0;
    @media (max-width: 767px) {
        flex-direction: column-reverse;
        padding: 0 0 30px 0;
    }
}

.front-work .work-info {
    flex: 0 0 30%;
    padding-right: 30px;
    @media (max-width: 991px) {
        flex: 0 0 40%;
    }
    @media (max-width: 767px) {
        flex: 0 0 100%;
        display: flex;
    }
    @media (max-width: 500px) {
        flex-direction: column;
    }
}

.front-work .entry-header {
    @media (max-width: 767px) {
        flex: 0 0 50%;
        text-align: right;
        padding-right: 15px;
    }
    @media (max-width: 500px) {
        text-align: left;
        padding-right: 0;
    }
}

.front-work .entry-content {
    @media (max-width: 767px) {
        flex: 0 0 50%;
        padding-left: 15px;
    }
    @media (max-width: 500px) {
        padding-left: 0;;
    }
}

.front-work .blog-thumb-container {
    width: 100%;
    @media (max-width: 767px) {
        padding-bottom: 20px;
    }
}

.front-work article img {
    width: 100%;
    max-width: 100%;
}

.front-work .front-more {
    margin-top: -10px;
}

// About

.front-about {
    padding: 35px 30px;
    max-width: 1140px;
    margin: auto;
    @media (max-width: 400px) {
        padding: 25px 0 0 0;
    }
}

.front-about h3 {
    text-align: center;
}

.front-about figcaption, .front-about p {
    @media (max-width: 400px) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

//
// Footer
//

#wrapper-footer-full {
    padding: 10px 30px;
    background: $gray-800;
    color: $gray-200;
    text-align: center;
}

#wrapper-footer-full p {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 1rem;
}

#wrapper-footer-full a {
    transition: none;
    color: $secondary;
}

#wrapper-footer-full a:hover {
    text-decoration: underline;
    opacity: 1;
}
